{{!-- iterate over each article --}}

{{#each articles}}

  <ul class="collapsible" data-collapsible="accordion">

    <!-- drop down to article -->
    <li>
      <div style="background-color: white;" class="collapsible-header blue-grey lighten-3">
        <i class="material-icons">visibility</i> 
       
        <div style="clear: left; line-height: 110%; padding-bottom: 10px;"><b>{{title}}</b></div>
      </div>
      <div class="collapsible-body">
        <p>
          <a href="{{link}}" target="_blank"><i class="material-icons">link</i>  Link to full article</a>        
      </p>
      </div>
    </li>


    <!-- comments go here -->
    <li>
      <div class="collapsible-header"><i class="material-icons">create</i>Add a Comment</div>
      <div class="collapsible-body">

        <form id="form-add-{{_id}}" action="add/comment/{{_id}}" method="POST">

          <!-- input author area -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <input id="author_name" name="name" type="text" class="validate">
              <label for="author_name">Enter Your Name:</label>
            </div>
          </div>
          
          <!-- input the comment area -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <textarea id="comment_box" name="comment" class="materialize-textarea"></textarea>
              <label for="comment_box">Enter Your Comment:</label>
            </div>
          </div>

          <!-- submit -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
            <button type="submit button" data-id="{{_id}}" class="btn waves-effect add-comment-button green darken-4"> <i class="material-icons">done</i></button>   
            </div>
          </div>
          
        </form>
      </div>
    </li>


    <!-- drop down menu to display comments -->
    <li>
      <div class="collapsible-header"><i class="material-icons">note</i>View Comments</div>
      <div class="collapsible-body">
      
        {{!-- check if the article has comments --}}
        {{#if comments}}

          {{!-- display article's comments  --}}
          <ul class="collection">
            {{#each comments}}
            
              <li class="collection-item">

                {{!-- author's Name --}}
                Posted by <b>{{author}}</b> 

                {{!-- delete Button --}}
                <span class="badge">
                  <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="POST">
                   <button type="submit button" data-id="{{_id}}" class="btn waves-effect waves-light red"> <i class="material-icons">delete</i></button> 
                  </form>
                </span>

                <br>

                {{!-- comment's content --}}
                {{content}}
              </li> 
            {{/each}}
          </ul>      
        {{!-- if there are no comments --}}
        {{else}}
          <p>There are no comments for this article </p>
        {{/if}}
              
      </div>
    </li>
  </ul>

{{/each}}